<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Погода</title>

</head>
<body>

<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

    <form action="/home">
        <button type="submit">Вернуться на домашнюю страницу</button>
    </form>

    <form action="/search" method="POST">

        <label for="city">city</label>
        <input id="city" name="city" type="text"><br>

        <button type="submit">искать</button>
    </form>

    <div style="color: red" th:if="${reason}" th:text="${reason}"/>

    <div th:if="${weathers}" th:each="weather : ${weathers}" class="weather-block">
        <form action="/home" method="post">
            <input type="hidden" name="name" th:value="${weather.name}">
            <span th:text="|Город: ${weather.name}|"></span><br>

            <input type="hidden" name="country" th:value="${weather.country}">
            <span th:text="|Страна: ${weather.country}|"></span><br>

            <input type="hidden" name="lat" th:value="${weather.lat}">
            <span th:text="|Широта: ${weather.lat}|"></span><br>

            <input type="hidden" name="lon" th:value="${weather.lon}">
            <span th:text="|Долгота: ${weather.lon}|"></span><br>

            <input type="hidden" name="description" th:value="${weather.description}">
            <span th:text="|Погода: ${weather.description}|"></span><br>

            <input type="hidden" name="temp" th:value="${weather.temp}">
            <span th:text="|Температура: ${weather.temp}|"></span><br>

            <button type="submit">Добавить</button>
        </form>
    </div>
</body>
</html>